.self-container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.custom-check {
    position: relative;
}

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 27px;
    width: 27px;
    background-color: #a8a8a8;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
    background-color: #a8a8a8;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    left: 8px;
    top: 2px;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.serch-bar {
    width: 100%;
}